*{
    font-family: sans-serif;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + label span{
    display: inline-block;
    font-size: 16px;
    width: 1em;
    height: 1em;
    background-color: darkcyan;
}

input[type="checkbox"]:checked + label span{
    background-color: aqua;
    position: relative;
}

input[type="checkbox"]:checked + label span::before{
    content: "";
    display: block;
    border: solid 0.087em black;
    position: absolute;
    top: 0.077em;
    left: 0.38em;
    right: 0.3em;
    bottom: 0.3em;
    transform: rotate(45deg);
    border-left-color: transparent;
    border-top-color: transparent;
}
