p::first-letter{
    font-size: 3em;
    line-height: 1;
    display: inline-block;
    margin-right: 0.1em;
}

p::first-line{
    color: lightseagreen;
}

p::-moz-selection{
    background: #ddd;
}

p::selection{
    background: #ddd;
}