p{
    background-color: #ccc;
    width: 500px;
}

.paragraph-1{
    padding: 25px;
}

.paragraph-2{
    padding: 25px;
    border: solid 2px green;
}

.paragraph-3{
    padding: 25px;
    border: solid 2px green;
    box-sizing: border-box;
}