body{
    font: 100% sans-serif;
}

h1{
    text-align: center;
}

div{
    border: solid 1px black;
    padding: 1em;
    width: 20em;
    margin: auto;
}

p{
    margin: 0;
    line-height: 1.5;
    font-size: 1.25em;;
}

a{
    font-size: 1.2em;
}