h1{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: darkcyan;
}

@keyframes movimentar{
    0%{
        transform: translateX(0);
        background: darkcyan;
        color: gold;
    }
    100%{
        transform: translateX(700px);
        background: cyan;
        color: goldenrod;
    }
}

#anima-time div{
    width: 80px;
    height: 50px;
    border: solid 2px darkcyan;
    margin-bottom: 20px;
}

/*#anima-time div:nth-child(n){
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-name: ;
    animation-duration: ;
    animation-timing-function: ;
    animation-delay: ;
    animation-iteration-count: ;
    animation-direction: ;
}*/

#anima-time div:nth-child(1){
    animation: movimentar 2s ease-in;
}

#anima-time div:nth-child(2){
    animation: movimentar 2s ease-in-out alternate infinite;    
}

#anima-time div:nth-child(3){
    animation: movimentar 2s ease-in-out 2s alternate infinite;
}

#anima-time div:nth-child(4){
    animation: movimentar 3s ease-in-out 2s alternate infinite backwards;
}

#anima-time div:nth-child(5){
    animation: movimentar 5s ease-in-out 1s alternate infinite backwards;
    animation-play-state: running;
}

#anima-time div:nth-child(5):hover{
    animation-play-state: paused;
}

