body{
    font-family: sans-serif;
    background-image: linear-gradient(aqua 60%, aquamarine) , url(../img/tile.png);
    background-attachment: fixed, scroll;
    background-blend-mode: color;
}

h1{
    text-align: center;
}

.cores{
    width: 80%;
    border: dashed 8px color-mix(in srgb, lightblue, blue);
    margin: 20px auto;
    padding: 20px;
}

.cores p{
    margin: 0;
}

section{
    counter-reset: counter;
}

.cores{
    counter-increment: counter;
}

.cores::before{
    content: "[ " counter(counter) " ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}
