:root{
    --bg-body: linear-gradient(aqua 60%, aquamarine) , url(../img/tile.png);
    --bg-nth-2: lightyellow;
    --bg-nth-3: hsl(190deg, 100%, 50%);
    --bg-nth-4: linear-gradient(70deg, lightblue, transparent), linear-gradient(darkblue, transparent);
    --bg-nth-5: radial-gradient(ellipse, cyan, darkcyan);
    --bg-nth-6: radial-gradient(circle, cyan, darkcyan, aquamarine);
    --bg-nth-7: radial-gradient(circle, cyan, green, darkcyan, aquamarine);
    --bg-nth-8: radial-gradient(circle at top, coral, lightcoral);
    --bg-nth-9: radial-gradient(ellipse at 50px 20px, pink, red);
    --bg-nth-10: radial-gradient(closest-corner at 50px 20px, red, pink);
    --bg-nth-11: radial-gradient(farthest-corner at 50px 20px, red, pink);
    --bg-nth-12: radial-gradient(closest-side at 50px 20px, lightgreen, lightblue);
    --bg-nth-13: radial-gradient(farthest-side at 50px 20px, lightgreen, lightblue);
    --bg-nth-14: radial-gradient(circle farthest-side at 50px 20px, lightgreen, lightblue);
    --bg-nth-15: radial-gradient(circle farthest-side at 50px 20px, lightgreen, lightblue), radial-gradient(circle farthest-corner at top right, darkcyan, transparent);
    --bg-nth-16: radial-gradient(at top, lightgreen, lightblue), radial-gradient(at bottom, darkcyan, transparent);
    --bg-nth-17: conic-gradient(from 45deg, darkblue, lightblue 70%, blue);
    --bg-nth-18: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    --bg-nth-19: repeating-linear-gradient(to top right, white, black);
    --bg-nth-20: repeating-radial-gradient(white 0px, white 10px, black 10px, black 20px);
    --bg-nth-21: repeating-conic-gradient(white 0deg, white 10deg, black 10deg, black 20deg);
    --bg-nth-22: repeating-conic-gradient(transparent 0deg, transparent 10deg, black 10deg, black 20deg), repeating-radial-gradient(red 0%, transparent, blue 20%);
    --bg-nth-23: repeating-radial-gradient(red 0%, transparent, blue 20%), repeating-linear-gradient(red, blue);
}

body{
    font-family: sans-serif;
    background-image: var(--bg-body);
    background-attachment: fixed, scroll;
    background-blend-mode: color;
}

h1{
    text-align: center;
}

.cores{
    width: 80%;
    border: dashed 8px color-mix(in srgb, lightblue, blue);
    margin: 20px auto;
    padding: 20px;
    background-clip: padding-box;
}

.cores p{
    margin: 0;
}

section{
    counter-reset: counter;
}

.cores{
    counter-increment: counter;
}

.cores::before{
    content: "[ " counter(counter) " ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2){
    background-color: var(--bg-nth-2);
}

.cores:nth-of-type(3){
    background-color: var(--bg-nth-3);
}

.cores:nth-of-type(3):hover{
    background-color: transparent;
}

.cores:nth-of-type(4){
    background-image: var(--bg-nth-4);
}

.cores:nth-of-type(5){
    background-image: var(--bg-nth-5);
}

.cores:nth-of-type(6){
    background-image: var(--bg-nth-6);
}

.cores:nth-of-type(7){
    background-image: var(--bg-nth-7);
}

.cores:nth-of-type(8){
    background-image: var(--bg-nth-8);
}

.cores:nth-of-type(9){
    background-image: var(--bg-nth-9);
}

.cores:nth-of-type(10){
    background-image: var(--bg-nth-10);
}

.cores:nth-of-type(11){
    background-image: var(--bg-nth-11);
}

.cores:nth-of-type(12){
    background-image: var(--bg-nth-12);
}

.cores:nth-of-type(13){
    background-image: var(--bg-nth-13);
}

.cores:nth-of-type(14){
    background-image: var(--bg-nth-14);
}

.cores:nth-of-type(15){
    background-image: var(--bg-nth-15);
}

.cores:nth-of-type(16){
    background-image: var(--bg-nth-16);
}

.cores:nth-of-type(17){
    background-image: var(--bg-nth-17);
}

.cores:nth-of-type(18){
    background-image: var(--bg-nth-18);
    filter: sepia(100%);
}

.cores:nth-of-type(18):hover{
    filter: hue-rotate(360deg);
}

.cores:nth-of-type(19){
    background-image: var(--bg-nth-19);
}

.cores:nth-of-type(20){
    background-image: var(--bg-nth-20);
}

.cores:nth-of-type(21){
    background-image: var(--bg-nth-21);
}

.cores:nth-of-type(22){
    background-image: var(--bg-nth-22);
    background-attachment: fixed, scroll;
}

.cores:nth-of-type(23){
    background-image: var(--bg-nth-23);
    background-attachment: scroll, fixed;
}
