body{
    font-family: sans-serif;
}

h2{
    font-size: 30px;
    text-align: center;
    color: darkcyan;
}

button{
    padding: 0.25em;
}

#calculator{
    width: 200px;
    background-image: linear-gradient(#b7b7b7, #9c9c9c);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 40px);
    grid-gap: 5px;
}

#display{
    padding: 10px;
    font-size: 1.4em;
    text-align: right;
    background-image: linear-gradient(#c5c5c5, #e0e0e0);
    box-shadow: inset 3px 2px 0 white;
    grid-column: 1 / -1;
    margin-bottom: 15px;
}

.mais{
    background-color: #adadad;
    grid-column: 4 / 5;
    grid-row: 5 / 7;
}

.zero{
    background-color: #adadad;
    grid-column: 1 / 3;
}