body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.flexbox{
    height: 250px;
    border: solid 3px cyan;
    display: flex;
    margin-bottom: 16px;
}

.flexbox div{
    border: solid 2px darkcyan;
    width: 300px;
    margin: 15px;
}

.flex-container1{
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.flex-container1 div{
    background-color: aqua;
    flex-basis: 50px;
    margin: 0;
}

.flex-container1 .div2{
    flex-grow: 1;
}

.flex-container1 .div3{
    flex-grow: 1;
}

.flex-container2{
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.flex-container2 div{
    background-color: aqua;
    flex-basis: 150px;
    margin: 0;
}

.flex-container2 .div1{
    flex-shrink: 2;
}