.div1{
    width: 150px;
    height: 50px;
    background: lightseagreen;
    color: white;
    transform: translate(50%, 50%);
}

.div2{
    width: 150px;
    height: 50px;
    background: cyan;
    color: black;
    position: relative;
    left: 50%;
}

.div3{
    width: 50%;
    overflow: hidden;
    border: solid 2px black;
}

.div3-interna{
    background: aquamarine;
    transform: translateX(100%);
}

.div4{
    width: 50%;
    overflow: hidden;
    border: solid 2px black;
}

.div4-interna{
    background: aquamarine;
    transform: rotate(-25deg);
}

.div5{
    width: 50%;
    overflow: hidden;
    border: solid 2px black;
}

.div5-interna{
    background: aquamarine;
    transform: rotate(25deg);
    transform-origin: left top;
}

.div6{
    width: 50%;
    overflow: hidden;
    border: solid 2px black;
}

.div6-interna{
    background: aquamarine;
    transform: rotate(30deg) translate(50%);
}

.div7{
    width: 50%;
    overflow: hidden;
    border: solid 2px black;
}

.div7-interna{
    background: aquamarine;
    transform: rotate(30deg) translate(50px);
}

.div8{
    width: 100px;
    height: 100px;
    background: lightseagreen;
    transform: skew(-30deg);
}

.div9{
    width: 100px;
    height: 100px;
    background: cyan;
    color: black;
    transform: scale(0.5) translateX(50%);
    transition: transform 0.5s;
}

.div9:hover{
    transform: scale(1.5);
}