/*@font-face{
    font-family: "nome da fonte";
    src: url("caminho da fonte");
}*/

body{
    background-image: linear-gradient(to left top, rgb(48, 48, 48), rgb(27, 27, 27));
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    text-shadow: -10px -10px 0 black;
    color: aqua;
}

div{
    background: aqua;
    width: 200px;
    height: 200px;
    margin: 50px auto;
}

#radius{
    border-radius: 100px;
}

#shadow{
    box-shadow: 10px 10px 10px black;
}

