:root{
    --primary-color: cornflowerblue;
}

* {
    box-sizing: border-box;
    outline: 0;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

h1{
    font-size: 40px;
    font-variant: small-caps;
    color: var(--primary-color);
    text-align: center;
}

h2{
    font-size: 40px;
    font-variant: small-caps;
    color: var(--primary-color);
    text-align: center;
}

p{
    text-align: justify;
    text-indent: 50px;
    line-height: 1.6;
    font-weight: bold;
}