body{
    font-family: sans-serif;
}

h1{
    text-align: center;
}

#div1{
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    width: 90%;
    height: 100px;
    position: relative;
}

#div2{
    background-color: rgba(0, 255, 0, 0.5);
    padding: 10px;
    width: 80%;
    height: 50px;
    position: relative;
    left: 20px;
}

#div3{
    background-color: rgba(0, 0, 255, 0.5);
    padding: 10px;
    width: 30PX;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
}
