html, body{
    max-height: 100%;
}

body{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #87bdd8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title{
    color: rgba(0, 0, 0, 0.8);
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style: none;
    width: 90%;
    max-width: 960px;
}

.list-item{
    flex: 280px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    background-image: url(../img/thumb.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item__image img{
    border-radius: 50%;
    width: 80px;
    margin-top: 120px;
}

.list-item__name{
    margin: 0;
    font-size: 24px;
    color: #385555;
}

.list-item__actions{
    display: flex;
    background-color: #e5e5e5;
    padding: 16px;
    justify-content: space-evenly;
    gap: 16px;
}

/* CSS - primeira versão */
/* .list-wrapper{
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item{
    display: flex;
    border-bottom: solid 1px #eee;
    padding: 16px;
}

.list-item__image img{
    width: 80px;
    border-radius: 50%;
}

.list-item__content{
    padding: 0 20px;
    flex-grow: 1;
}

.list-item__name{
    font-size: 24px;
    color: #385555;
    margin: 0;
}

.list-item__email{
    margin: 5px 0 0;
    color: #aaa;
}

.list-item:hover{
    background-color: #e8e8e8;
}

.list-item__actions{
    display: flex;
    gap: 16px;
    align-items: center;
    opacity: 0;
}

.list-item:hover .list-item__actions{
    opacity: 0.3;
} */
