*{
    font-family: sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    background-color: #eee;
    width: 100%;
    height: 15rem;
    font-size: 2rem;
}

main{
    min-height: calc(300px + 70px);
    background-color: #ddd;
    font-size: 2rem;
}

footer{
    height: 10rem;
    background-color: #ccc;
    font-size: 2rem;
}
