html{
    font-family: "Helvetica Neue";
    background-color: #95a5a6;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form{
    width: 350px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 1em;
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

legend{
    text-align: center;
    padding: 1em;
    color: #454e4f;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

input, label{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label{
    margin-bottom: 0.25em;
}

input{
    padding: 0.75em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: solid 1px #bbb;
    font-size: 1em;
}

/* .btn{
    width: fit-content;
    margin-left: auto;
    background-color: rgb(43, 43, 128);
    color: #ecf0f1;
}

.btn:hover{
    cursor: pointer;
    color: rgb(43, 43, 128);
    background-color: #ecf0f1;
} */

.btn-aux{
    background-color: rgb(43, 43, 128);
    color: #ecf0f1;
}

.btn-aux:hover{
    cursor: pointer;
    color: rgb(43, 43, 128);
    background-color: #ecf0f1;
}

.actions{
    display: flex;
    gap: 1em;
}
