:root{
    --primary-color: #fed001;
    --text-light-color: #fafafa;
    --bg-light-color: #fafafa;
    --bg-dark-color: #2a2a2a;
    --bg-dark-blue-color: #003464;
}

*, *:after, *:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5% 400 'Inter', sans-serif;
}

p, a{
    font-size: 1.2rem;
}

nav a{
    color: inherit;
}

.upper{
    text-transform: uppercase;
}

.wrapperContainer-dark{
    background-color: var(--bg-dark-color);
}

.wrapperContainer-light{
    background-color: var(--bg-light-color);
}

.wrapperContainer-dark2{
    background-color: var(--bg-dark-blue-color);
}

.container{
    max-width: 80rem;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 1.1rem 0;
}

.header_nav ul{
    display: flex;
    gap: 0.6rem;
    list-style: none;
}

.header_nav a{
    padding: 0.75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}

.header_nav a:hover{
    background-color: black;
}
