input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

input[type="checkbox"]:checked{
    width: 50px;
    height: 50px;
}

button:disabled{
    background: cadetblue;
}

p{
    color: blue;
}

p:empty:before{
    content: "parágrafo vazio";
}

input[type="text"]:focus{
    background: #eee;
}

input[type="text"]:read-only{
    background: rgb(40, 236, 236);
}

a:focus, a:hover, div:focus{
    background: cadetblue;
}

input::placeholder{
    color: darkcyan;
}
