*{
    font-family: sans-serif;
}

h1{
    background-color: darkcyan;
    padding: 20px 15px;
}

h2{
    background-color: cadetblue;
    width: 50%;
    height: 100px;
    margin: auto;
}

p{
    background-color: #ccc;
    margin-top: 30px;
    padding: 20px;
    text-align: justify;
}

.highlighted-text{
    background-color: cyan;
    width: 50%;
    height: 150px;
}

.border-text{
    border: solid 1px darkcyan;
}