.flexbox{
    height: 250px;
    border: 1px solid aqua;
    display: flex;
    margin-bottom: 15px;
}

.flexbox div{
    background: cyan;
    width: 300px;
    margin: 15px;
}

.flexbox:nth-child(4){
    flex-flow: row nowrap;
}

.flexbox:nth-child(5){
    justify-content: space-between;
}

.flexbox:nth-child(5) div{
    width: 20px;
}

.flexbox:nth-child(6){
    align-items: center;
    justify-content: center;
}

.flexbox:nth-child(7){
    align-items: baseline;
    justify-content: center;
}

.flexbox:nth-child(8){
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.flexbox:nth-child(8) div{
    width: 100px;
}